---
import bytebridge from "../images/sponsor-logos/bytebridge.png";
import haas from "../images/sponsor-logos/haas.png";
import ugp from "../images/sponsor-logos/ugp.png";
import polymaker from "../images/sponsor-logos/polymaker.png";
import vbelt from "../images/sponsor-logos/vbelt.png";
import pcbway from "../images/sponsor-logos/pcbway.png";

const year = new Date().getFullYear(); //fallback

import SponsorLogos from "./SponsorLogos.astro";

import {Image} from "astro:assets";
import {email} from "../constants";
const emailLink = "mailto:" + email;
const sponsorsHeight = 110;
---

<section id="footer">
    <div class="sponsors">
        <h2 id="sponsor-title">SPONSORS</h2>
        <div class="sponsor-container">
            <div class="sponsor-track">
                <section class="sponsor-logos">
                    <SponsorLogos/>
                </section>


                <section class="sponsor-logos">
                    <SponsorLogos/>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <p>
            &copy; <span id="footer-year">{year}</span> TurbΩ V8 - All rights reserved<br/>
            FIRST Tech Challenge (FTC)<br/>
            <a id="email" target="_blank" rel="noopener noreferrer" href={emailLink}>{email}</a>
        </p>
        <div id="socials">
            <a href="https://www.instagram.com/ftc_turbov8/" target="_blank" class="fa fa-instagram"
               rel="noopener noreferrer"></a>
            <a href="https://www.youtube.com/@FTCTurboV8" target="_blank" class="fa"
               rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i>
            </a>

        </div>
    </footer>
    <script is:inline>
        document.getElementById("footer-year").innerText = new Date().getFullYear();
    </script>
</section>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
<style>
    #sponsor-title {
        font-size: xx-large;
    }

    #email:link,
    #email:visited {
        color: white;
    }

    footer {
        background-color: var(--dark-red);
        text-align: center;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .sponsors {
        width: 65%;
        padding-top: 20px;
        text-align: center;
        margin: 0 auto 40px auto;
    }

    .sponsor-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: 20px 0;
    }

    .sponsor-track {
        display: flex;
        width: max-content;
        align-items: center;
    }

    .sponsor-logos {
        display: flex;
        gap: 20px;
        padding: 0 15px;
        animation: scroll 15s linear infinite;
        align-items: center;
    }


    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .sponsor-container:hover .sponsor-logos {
        animation-play-state: paused;
    }

    #socials {
        margin-top: 15px;
        text-align: center;
    }

    .fa {
        margin: 0 10px 0 10px;
        height: 50px;
        width: 50px;
        padding: 10px;
        font-size: 28px; // too big causes logos to go off center
        text-align: center;
        text-decoration: none;
        background: white;
        color: var(--dark-red);
        border-radius: 50%;
        display: inline-block;

    }


    .fa:hover {
        opacity: 0.7;
    }
</style>
