---
import bytebridge from "../images/sponsor-logos/bytebridge.png";
import haas from "../images/sponsor-logos/haas.png";
import ugp from "../images/sponsor-logos/ugp.png";
import polymaker from "../images/sponsor-logos/polymaker.png";
import vbelt from "../images/sponsor-logos/vbelt.png";
import pcbway from "../images/sponsor-logos/pcbway.png";
import {Image} from "astro:assets";

const sponsorsHeight = 110;
---

<a href="https://www.bytebt.com/" target="_blank" rel="noopener noreferrer">
    <Image src={bytebridge} alt="Bytebridge Logo" height={sponsorsHeight}/>
</a>
<a href="https://www.haascnc.com/content/ghf/en/home.html" target="_blank" rel="noopener noreferrer">
    <Image src={haas} alt="Gene Haas Foundation Logo" height={sponsorsHeight}/>
</a>
<a href="https://undergroundshirts.com/" target="_blank" rel="noopener noreferrer">
    <Image src={ugp} alt="Underground Printing Press Logo" height={sponsorsHeight}/>
</a>
<a href="https://polymaker.com/" target="_blank" rel="noopener noreferrer">
    <Image src={polymaker} alt="Polymaker Logo" height={sponsorsHeight}/>
</a>
<a href="https://www.vbeltguys.com/" target="_blank" rel="noopener noreferrer">
    <Image src={vbelt} alt="V-Belt Guys Logo" height={sponsorsHeight}/>
</a>
<a href="https://www.pcbway.com/" target="_blank" rel="noopener noreferrer">
    <Image src={pcbway} alt="PCBWay Logo" height={sponsorsHeight}/>
</a>

<style>
    img {
        border-radius: 10px;
    }
</style>